{{> /layout/header}}

<div class="container p-5">

    <!-- 요청을 하면 localhost:8080/join POST로 요청됨
    username=사용자입력값&password=사용자값&email=사용자입력값 -->

    <div class="card">
        <div class="card-header"><b>회원가입을 해주세요</b></div>
        <div class="card-body">
            <form action="/join" method="post">
                <div class="mb-3">
                    <div class="mb-3">
                        <input id="username" type="text" onchange="usernameSameCheck()" class="form-control" placeholder="Enter username" name="username">
                        <span class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Enter password" id="password">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Enter email" id="email"
                               value="ssar@nate.com">
                    </div>
                    <button type="submit" class="btn btn-primary form-control">회원가입</button>
            </form>
        </div>

        <script>
            let isSameCheck = false;

            $(document).ready(function() {
                $("#username").on("input", function() {
                    let username = $(this).val().trim();

                    // 아이디 입력란이 비어 있는 경우
                    if (username.trim() === "") {
                        alert("아이디를 입력해야 합니다.");
                        if (password.trim() === "") {
                            alert("패스워드를 입력해야 합니다.");
                            if (email.tiim() === "") {
                                alert("이메일을 입력해야 합니다.")
                            }
                        }
                        return; // 공백으로 중복 체크하는것 막기
                    }

                    // 아이디 중복 체크
                    $.ajax({
                        url: "/api/username-same-check?username=" + username,
                        type: "GET"
                    }).done((res) => {
                        if (res.body == null) {
                            $(".text-danger").addClass("disabled").text("사용하실 아이디를 입력해주세요");
                        } else if(res.body == true) {
                            $(".text-danger").addClass("disabled").text("아이디가 사용 가능합니다");
                        } else {
                            $(".text-danger").addClass("disabled").text("아이디가 중복되었습니다");
                        }
                    }).fail((res) => {
                        alert(res.responseJSON.msg);
                    });
                });
            });
        </script>

    </div>
</div>

{{> /layout/footer}}